<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login</h1>

          <div>
            <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
          </div>

          <div>
            <%= f.password_field :password, placeholder: "password", class:"form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <div class="custom-control custom-checkbox small">
                <%= f.check_box :remember_me, class:"custom-control-input" %>
                <%= f.label :remember_me, class:"custom-control-label" %>
              </div>
            </div>
          <% end %>

          <div class="text-align-center">
            <%= f.submit "Login", class:"btn btn-default submit", style:"float: none; margin-left: 0px; width: 70%" %>
            <%= link_to 'Esqueceu sua senha?', new_user_password_path, class:"reset_pass" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator"></div>
        <% end %>
      </section>
    </div>
  </div>
</div>
