<% if @question.errors.any? %>
  <div class="alert alert-danger alert-dismissable content-fluid">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <% @subject.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
<% end %>

<div class="card shadow">
  <div class="card-header py-3">
    <h1 class="m-0 font-weight-bold text-primary"><%= action_message %></h1>
  </div>
  <div class="card-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>

                        <div class="form-group">
                          <%= form.label :description %>
                          <%= form.text_area :description, class:"form-control", placeholder:"Ex: Qual dessas linguagens de programação não é tipada?", rows: 3 %>
                        </div>

                        <div class="form-group">
                          <%= form.label :subject_id %>
                          <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, { class:"form-control" }) %>
                        </div>

                      <button type="submit" class="btn btn-primary">Salvar</button>

                    <% end %>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
  </div>
</div>
