<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TimeToAnswer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'site' %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Time to Answer</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <%= form_with(url: site_search_path, local: true, method: :get, class:"navbar-form navbar-left") do |form| %>
              <div class="form-group">
              <%= form.text_field :term, class:"form-control", placeholder:"Digite" %>
              </div>
              <button type="submit" class="btn btn-default">Pesquisar</button>
            <% end %>
            <ul class="nav navbar-nav navbar-right">
              <% unless user_signed_in? %>
                <li><%= link_to 'Entrar', new_user_session_path %></li>
                <li><%= link_to 'Cadastrar-se', new_user_registration_path %></li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item" do %>
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                      <% end %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Sair
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
        <h1>Site::Welcome#index</h1>
          <p>Find me in app/views/site/welcome/index.html.erb</p>

          <% if user_signed_in? %>
            <p>Usuário LOGADO / <%= current_user.email %></p>
          <% else %>
            <p>Usuário NÃO esta logado!!</p>
          <% end %>

          <% if admin_signed_in? %>
            <p>Administrador LOGADO / <%= current_admin.email %></p>
          <% else %>
            <p>Administrador NÃO esta logado!!</p>
          <% end %>
      </div>
      <%= yield %>
    </div> <!-- /container -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>

    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {
          ele: 'body', // which element to append to
          type: 'success', // (null, 'info', 'danger', 'success')
          offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
          align: 'center', // ('left', 'right', or 'center')
          width: 250, // (integer, or 'auto')
          delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      <% end %>
    <% end %>

  </body>
</html>
